<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Download Page</title>
    <link rel="icon" src="favicon.ico">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/dl_page.css') }}">
  </head>
  <body>

    <!-- Main Box -->
    <div class="blurred-box">
    </div>
    <div class="text-box">
      <!-- Logos -->
      <div class="logo">
	<img class="logo0" src="/static/img/logo.png" alt="logo">
	<img class="logo1" src="/static/img/logo_name.png" alt="logo">
      </div>

      <a class="dl_button" href="{{ url_for('download_page', archive_path=archive_path) }}">Download</a>
    
  </body>
</html>
