<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="icon" src="/static/img/no_copyright.png">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>

    <!-- Main Box -->
    <div class="blurred-box">
    </div>
    <div class="text-box">
      <!-- Logos -->
      <div class="logo">
	<img class="logo0" src="/static/img/logo.png" alt="logo">
	<img class="logo1" src="/static/img/logo_name.png" alt="logo">
      </div>

      <!-- User choices -->
      {% block content %}
	<form action="" method="post">
	  {{ form.hidden_tag() }}
	  <!-- Video Url Bar -->
	  <p>
	    {{ form.videoUrl(class_="urlBox", placeholder="Video Url") }}
	    {% for error in form.videoUrl.errors %}
	    <div class="error-msg">
	      <i class="fa fa-times-circle"></i>
	      You need to select every options.
	    </div>
            {% endfor %}
	  </p>

	  <!-- Quality Options -->
	  {{ form.quality_list(class_="dl_quality") }}

	  <!-- Format Options -->
	  {{ form.format_list(class_="dl_format") }}

	  <!-- Download Playlist -->
	  {{ form.dl_playlist(class_="dl_playlist") }}
	  
	  <!-- Launch Button -->
	  {{ form.submit(class_="formButton") }}

	</form>
      {% endblock %}
    </div>

    
    <!-- particles.js container -->
    <div id="particles-js"></div>

    <!-- scripts -->
    <script src="/static/js/particles/particles.js"></script>
    <script src="/static/js/particles/src/app.js"></script>


  </body>
</html>
